<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.local.readerfixture"><uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35"/><application android:label="漫画测试阅读器" android:theme="@android:style/Theme.Material.Light.NoActionBar"><activity android:name=".PagesActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity></application></manifest>